<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <app-async-icon-button
        label="Rafraîchir"
        [observable]="refresh()"
        [icon]="faRotateRight"
        (btnError)="setError($event)"
        (btnStart)="setError('')"
      ></app-async-icon-button>
      <a class="button" routerLink="add" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-icon-button
        label="Supprimer"
        [observable]="remove()"
        [hidden]="selectedArticles.size === 0"
        [icon]="faTrashAlt"
        (btnError)="setError($event)"
        (btnStart)="setError('')"
      ></app-async-icon-button>
    </nav>
    <div class="error">
      {{ errorMsg }}
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(articleService.articles$ | async) === undefined; else data">
          <td colspan="3">
            <div class="loading">
              <fa-icon [spin]="true" [icon]="faCircleNotch"></fa-icon>
              <span>Chargement...</span>
            </div>
          </td>
        </tr>
        <ng-template #data>
          <tr
            *ngFor="let a of articleService.articles$ | async"
            (click)="select(a)"
            [class.selected]="selectedArticles.has(a)"
          >
            <td class="name">{{ a.name | ellipsis }}</td>
            <td class="price">
              {{ a.price | currency }}
            </td>
            <td class="qty">{{ a.qty }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</main>
