<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatem
    aliquam voluptas fugit rem maxime aspernatur magnam similique architecto
    delectus aliquid corrupti ipsam, facilis recusandae exercitationem
    consectetur quo soluta magni.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quas!
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos,
    reprehenderit impedit. Sapiente eum culpa modi, mollitia ex magni! Nisi
    perferendis assumenda hic nobis quis recusandae aliquam natus aperiam quasi
    autem beatae, eius labore temporibus atque adipisci vitae at pariatur sunt
    alias porro deleniti reiciendis non minus? Nihil totam nobis saepe.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat architecto
    recusandae corrupti natus esse, est deserunt at aperiam doloribus placeat
    sed numquam! Autem quos, tenetur inventore nisi est consequuntur tempora
    dolorem, quia culpa, ratione amet recusandae iste numquam suscipit sequi.
    Saepe nesciunt, similique asperiores perferendis impedit deserunt iste
    aspernatur, delectus non ea ipsa pariatur quasi veritatis repudiandae labore
    consectetur laudantium et dolores! Odio nulla ipsum eaque, magnam explicabo
    minus distinctio, ab tenetur pariatur itaque ad esse, sequi modi at qui.
    Culpa, hic iusto delectus ratione incidunt dicta ex accusamus quo
    praesentium laboriosam quam deleniti quasi quisquam excepturi corporis
    minima doloribus magni officia unde neque cum distinctio repellat voluptas.
    Earum exercitationem voluptatum fugiat magni et eveniet nesciunt a voluptate
    voluptates iusto? Molestiae veniam illo quod vitae adipisci vero commodi in.
    Veniam, perferendis eaque! Fuga eius rerum accusantium impedit, assumenda
    laborum cum dolorem aspernatur nostrum quae fugit itaque ea pariatur maxime
    unde voluptate ipsam voluptatibus esse minus omnis praesentium. Quas nulla
    ea fuga, voluptatem et omnis natus est quae in exercitationem aut iure
    impedit ipsum modi iste dignissimos assumenda ut distinctio repellat
    doloribus placeat sunt libero dolorem commodi. Quod dolores amet dolorem
    consectetur unde cupiditate aliquid, necessitatibus, rerum inventore illum,
    ea molestiae!
  </p>
</main>
